.navigation_me{
    background-color:aliceblue;
    font-size: 40px;
}

.full-width-container{
    width: 177px;
}
.chicken-h2-container{
    width: 120px;
}

.beef-h2-container{
    width:70px;
}

.sushi-h2-container{
    width:81px;
}